* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dflex {
  display: flex;
}

.vflexcenter {
  justify-content: center;
}

.hflexcenter {
  align-content: center;
  align-items: center;
}

.fcolumn {
  flex-direction: column;
}

.spaceb {
  justify-content: space-between;
}

.w100 {
  width: 100%;
}